@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 1180px;
    height: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px 0;
}

.card {
    width: 372px;
    height: 354px;
}

.card img {
    width: 100%;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    margin-bottom: 15px;
}

.card p {
    color: #3C3C43;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 15.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}