* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/*--------------------header--------------------*/
.active-link{
    color: #249a06;
}
header {
    height: 10vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Orbitron", sans-serif;
}

header div {
    text-align: center;
}

header div h3 {
    font-size: 16px;
}

header nav ul {
    display: flex;
    gap: 20px;

}

header nav a {
    color: gray;
    font-size: 20px;
}

/*--------------------main--------------------*/
main {
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Orbitron", sans-serif;
    padding-top: 50px;
}

main p {
    font-size: 20px;
}

main h1 {
    font-size: 50px;
    letter-spacing: 30px;
}
main button {
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 30px;
    transition: 1.5s;
}
main button:hover {
    transform: scale(1.2);
    color: #439533;
    transition: 2s;
}
