body {
    background-image: url("img_hw_1/btFone.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: rgb(19, 19, 19);
    background-color: rgba(221, 219, 219, 0.2);
    padding: 7px;
    margin: 50px 60px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;

}

section {
    display: flex;
    align-items: center;
    background-color: rgba(244, 239, 232, 0.4);
    padding: 10px;
    border-radius: 10px;
    max-width: 1000px;
    font-family: Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 60px;
}

img {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 7px;
    margin-right: 15px;
}

h3 {
    margin: 0;
    color: #023059;
    font-size: 20px;
}

h3 a {
    color: inherit;
    text-decoration: none;
}

h4 {
    margin: 5px 0;
    font-size: 16px;
}

p {
    margin: 0;
    font-size: 15px;
}