* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 8%;
    gap: 1.5em;
}

section h1 {
    margin-bottom: 1em;
}

.arrow {
    display: inline-block;
    margin: 1em;
    font-size: 3em;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.arrow:hover {
    color: whitesmoke;
    transform: scale(1.2);
}

#first-section {
    background-color: #f67979;
}

#second-section {
    background-color: #6ce6e2;
}

#third-section {
    background-color: #72f15f;
}