body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url("img/star_sky.png");
    background-size: cover;
}

.loader-ball {
    width: 60px;
    height: 60px;
    background: #00aaff;
    border-radius: 50%;
    box-shadow: 0 0 20px #91ceed;
    animation: moveBall 3s linear infinite;
}

@keyframes moveBall {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(10vw, -30px);
    }
    20% {
        transform: translate(20vw, 0);
    }
    30% {
        transform: translate(30vw, 30px);
    }
    40% {
        transform: translate(40vw, 0);
    }
    50% {
        transform: translate(50vw, -30px);
    }
    60% {
        transform: translate(60vw, 0);
    }
    70% {
        transform: translate(70vw, 30px);
    }
    80% {
        transform: translate(80vw, 0);
    }
    90% {
        transform: translate(90vw, -30px);
    }
    100% {
        transform: translate(100vw, 0);
    }
}

