@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:opsz@14..32&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(30, 30, 30, 1);
}

.w-1340 {
    width: 1340px;
    margin: 0 auto;
}

nav {
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}

ul a {
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 97%;
    text-transform: uppercase;
    font-style: normal;
    color: rgba(233, 227, 220, 1);
    text-decoration: none;
}

.nav__active_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 203px;
    height: 60px;
    background: rgba(179, 160, 205, 1);
    color: rgba(30, 30, 30, 1);
}

/*__________________________________________________________________________*/
.header-title {
    width: 1255px;
    color: rgba(233, 227, 220, 1);
    text-align: center;
    font-family: Bowlby One, sans-serif;
    font-weight: 400;
    font-size: 107.09px;
    line-height: 89%;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-style: normal;
    margin: 72px auto 33px auto;
}

.burgers__img {
    margin: 0 auto;
    display: block;
}