* {
    margin: 0;
    padding: 0;
}

section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    font-family: Arial, sans-serif;
}

section h1 {
    margin-bottom: 10px;
}

section p {
    width: 70%;

}

#section-title {
    background-color: #f3c4c4;
}

#section-title-second {
    background-color: #121111;
    color: white;
}
