* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(79, 111, 83, 1.00);
    height: 100vh;
    font-family: Arial, sans-serif;
}

.cardWrapper {
    padding-top: 2rem;
    padding-left: .7rem;
    padding-right: .7rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 14rem;
    height: 12rem;
    background-color: rgba(210, 227, 201, 1.00);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.4rem;
    transition: transform 0.8s ease-in-out;

}

.card:hover {
    transform: scale(1.2);
}

.card h2 {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.card p {
    font-size: 1rem;
    line-height: 2;
}