* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(79, 111, 83, 1.00);
    height: 100vh;
}

.cardWrapper {
    padding-top: 5vh;
    gap: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 12rem;
    height: 11rem;
    background-color: rgba(210, 227, 201, 1.00);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    transition: transform 0.8s;

}

.card:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
}

.card h2 {
    margin-bottom: 5px;
    font-size: 1.3rem;
}

.card p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}