* {
    margin: 0;

}

header, footer {
    height: 22vh;
    background-color: rgba(217, 217, 217, 1);
}

main {
    height: 56vh;
    display: flex;
}

main aside {
    height: 100%;
    width: 27vw;
    background-color: rgba(192, 189, 189, 1);
}

main section {
    height: 50%;
    width: 46vw;

}
main div{
    flex-direction: column;
}

#sectionTop {
    background-color: rgba(130, 120, 120, 1);
}

#sectionBottom {
    background-color: rgba(183, 173, 173, 1);
}